table,
thead,
tbody,
tr,
th,
td {
  padding: 0.5rem;
}

table {
  border: none;
  border-collapse: collapse;
  background: var(--secondary-dark);
  width: 100%;

  th {
    border-left: 1px solid var(--tertiary-dark);
    border-right: 1px solid var(--tertiary-dark);

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  td {
    border-left: 1px solid var(--tertiary-dark);
    border-right: 1px solid var(--tertiary-dark);

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  tr {
    border-bottom: 1px solid var(--tertiary-dark);
    border-top: 1px solid var(--tertiary-dark);

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  thead {
    border-bottom: 1px solid var(--tertiary-dark);
  }
}

thead {
  color: var(--font-light);
}

tbody {
  color: var(--font-light-accent);
  background: var(--primary-dark);
}
