table,
thead,
tbody,
tr,
th,
td {
  padding: 1rem;
}

table {
  border: none;
  border-collapse: collapse;
  background: var(--secondary-dark);
  width: 100%;

  th {
    border-left: 1px solid var(--tertiary-dark);
    border-right: 1px solid var(--tertiary-dark);
    padding: 0;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  td {
    border-left: 1px solid var(--tertiary-dark);
    border-right: 1px solid var(--tertiary-dark);

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  tr {
    border-bottom: 1px solid var(--tertiary-dark);
    border-top: 1px solid var(--tertiary-dark);

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  thead {
    border-bottom: 1px solid var(--tertiary-dark);
  }
}

thead {
  color: var(--font-light);
}

tbody {
  color: var(--font-light-accent);
  background: var(--primary-dark);
}

.th-alignment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.th-label {
  padding: 1rem;
}

.filter {
  display: flex;

  input {
    padding: 1rem;
    border: none;
    border: 1px solid var(--primary-dark);
    background: var(--tertiary-dark);
    color: var(--font-light-accent);
    width: 100%;

    &:hover {
      border: 1px solid var(--font-light-accent);
    }

    &:focus {
      outline: none;
      border: 1px solid var(--font-light);
    }

    &:disabled {
      background: var(--primary-dark);
      border-top: 1px solid var(--tertiary-dark);

      &:hover {
        border: 1px solid var(--primary-dark);
        border-top: 1px solid var(--tertiary-dark);
      }
    }
  }

  button {
    //padding: 0.5rem;
    border: 1px solid var(--primary-dark);
    background: var(--font-light);
    color: var(--font-dark);

    &:hover {
      border: 1px solid var(--font-light-accent);
      background: var(--font-light-accent);
    }

    &:focus {
      border: 1px solid var(--font-light-accent);
    }
  }
}

.td-action {
  text-align: center;
  padding: 0;
}

.loading {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
}

.loader {
  height: 3rem;
  border-bottom: 1px solid var(--tertiary-dark);
  //border-radius: 0.5rem;
  background: linear-gradient(
    90deg,
    var(--primary-dark) 35%,
    var(--secondary-dark) 50%,
    var(--primary-dark) 65%
  );
  background-size: 200% 100%;
  animation: gradientMove 1s linear infinite;

  &:first-child {
    background: linear-gradient(
      90deg,
      var(--secondary-dark) 35%,
      var(--primary-dark) 50%,
      var(--secondary-dark) 65%
    );
    background-size: 200% 100%;
    animation: gradientMove 2s linear infinite;
  }

  &:last-child {
    border-bottom: none;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}
