.table-form-layout {
  display: grid;
  grid-template-columns: 1fr min-content;
  border: 1px solid var(--tertiary-dark);
  border-radius: 1rem;
  background: var(--secondary-dark);

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.form-alignment {
  align-self: start;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  padding: 1rem;
}

.table-wrapper {
  overflow-x: auto;
  border-radius: 1rem 0 0 1rem;
  border-right: 1px solid var(--tertiary-dark);

  @media screen and (max-width: 768px) {
    border-radius: inherit;
    border: none;
  }
}
