.table-form-layout {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 1rem;
  border: 1px solid var(--tertiary-dark);
  border-radius: 1rem;
  background: var(--secondary-dark);

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.form-alignment {
  align-self: start;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  padding: 1rem 1rem 1rem 0;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}
